img{
    width: 5vw ;
    height: 10vh;
}

#img1{
    width: 20vw ;
    height: 70vh;
}

#img2{
    width: 18.8vw ;
    height: 25vh;
}

.cards{
    display: flex;
    align-items:center;
    justify-content: center;
    gap: 8vw;
    margin-top: 5vh;
}

#img3{
    width: 8vw ;
    height: 15vh;
    border-radius:100% ;
    display: flex;
    align-items:center;
    justify-content: center;    
   margin-left: 5vw;
   margin-top: 2vh;

}

.cards2{
    display: flex;
    align-items:center;
    justify-content: center;
    gap: 8vw;
    margin-top: 5vh;
}

.form{
    width: 30vw;
    height: 30vh;
    margin-top: 8vh;;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 35vw;
    text-align: center;
}

.botao{
    background-color:black;
    color: white;
    border-radius: 5px;
    width: 10vw;
    margin-left: 10vw;
}


.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4vh;
    
}